---
import Layout from "../layouts/LayoutWhite.astro";
import Todo from "../components/ReactComp/Todo";
import Navigation from "../components/Navigation.astro";
import User from "@/components/User.astro";
import Film from "@/components/Film.astro";

const opsys = "linux";
const rd = Math.random() > 0.5;
---

<Layout title="page3">
  <main>
    <h1>page3</h1>
    <Navigation />
    <div class="container">
      <p>a little different</p>
      <p>client visible：最低优先级</p>
      <p>
        <a href="/">home</a>
      </p>
      <p>
        操作系统： {opsys}
      </p>
       rd: {rd ? "true" : "false"}
    </div>
    <User />
    <hr />
    <Film />
    <hr />
    <Todo client:visible />
  </main>
</Layout>
