---
import Layout from "@/layouts/LayoutWhite.astro";
import Todo from "@/components/ReactComp/Todo";
import Navigation from "@/components/Navigation.astro";
---

<Layout title="page1">
  <main>
    <h1>page1</h1>
    <Navigation />
    <div class="container">
      <p>client only</p>
      <a href="/">home</a>
    </div>

    <Todo client:only="react" />
    <hr />
    <Todo client:only="react" />
  </main>
</Layout>
