---
import Layout from "../layouts/LayoutWhite.astro";
import Todo from "../components/ReactComp/Todo";
import Navigation from "../components/Navigation.astro";
---

<Layout title="page2">
  <main>
    <h1>page2</h1>
    <Navigation />

    <div class="container">
      <p>a little different</p>
      <p>client load</p>
      <p>
        <a href="/">home</a>
      </p>
    </div>

    <hr />
    <Todo client:load />
  </main>
</Layout>
